/* universal selector */
*{
    margin: 5%;
}

/* comment */
body {
    color:aqua;
    background-color:blue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* class selector */
.first {
    color:brown;
}

/* id selector */
#eklist {
    background-color:beige;
}

.large {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:x-large;
}

a[href="https://upflairs.com"] {
    color:rgb(0, 255, 76);
    text-decoration: none;

}

input [type="text"]{
    background-color:crimson;
    color:aliceblue;
}

/* pseudo */
.first:hover{
    color:darkorchid;
}